# Name and password (in base64 encoding) for buildbot
# Copy this file to secret.yaml and adapt the settings.

apiVersion: v1
kind: Secret
metadata:
  name: buildbot-worker-secret
  labels:
    app: "buildbot"
    tier: "worker"
stringData:
  buildbot-worker-name: worker1
  buildbot-worker-password: password
