out/*
info/*
artifacts/*
buildbot.tac

# Let's not version the actual credentials
worker/k8s/secret.yaml
worker/compose-secrets/buildbot-worker-name
worker/compose-secrets/buildbot-worker-password

master/k8s/secret.yaml
master/compose-secrets/github-pat

runner/k8s/secret.yaml
runner/compose-secrets/github-pat

worker/compose-secrets/github-pat

# Let's not version potential backups of actual credentials
# For example:
#   worker/compose-secrets/github-pat.~1~
#   worker/compose-secrets/buildbot-worker-password.~3~
**/compose-secrets/*.~*~
**/k8s/*.~*~