# Copy this file to secret.yaml and adapt the settings.

apiVersion: v1
kind: Secret
metadata:
  name: master-secret
  labels:
    app: "buildbot"
    tier: "master"
stringData:
  # Personal Authorization Token (see: https://github.com/settings/tokens)
  # with "write:discussion" permissions. 
  github-pat: "aaaaabbbbbcccccdddddeeeeefffff"
