# Name and password (in base64 encoding) for buildbot master and workers (plain passwords)
# Copy this file to master-secret.yaml and adapt the settings.

apiVersion: v1
kind: Secret
metadata:
  name: master-secret
  labels:
    app: "buildbot"
    tier: "master"
data:
  master-password: Zm9vYmFyCg==
stringData:
  master-name: fedora-llvm-x86_64
  worker1-name: worker1
  worker1-password: "<WORKER1_PASSWORD>"
  worker2-name: worker2
  worker2-password: "<WORKER2_PASSWORD>"