# Name and password (in base64 encoding) for buildbot master
# Copy this file to master-secret.yaml and adapt the settings.

apiVersion: v1
kind: Secret
metadata:
  name: master-secret
data:
  master-password: Zm9vYmFyCg==
stringData:
  master-name: fedora-llvm-x86_64