# Name and password for buildbot workers
# Copy this file to master-secret.yaml and adapt the settings.

apiVersion: v1
kind: Secret
metadata:
  name: master-secret
  labels:
    app: "buildbot"
    tier: "master"
stringData:
  worker1-name: worker1
  worker1-password: password
  worker2-name: worker2
  worker2-password: password